.grid {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: var(--size-10);
	align-content: center;
}

@media (min-width: 768px) {
	.grid {
		gap: var(--size-12);
	}
}
