.content__wrapper {
	display: flex;
	justify-content: center;
	// position: relative;
}

.content {
	width: 100%;
	max-width: 50rem;
	// font-size: var(--size-5);
	line-height: var(--size-6);
	background-color: var(--bg-white);
	border-radius: 6px;
	padding: var(--size-4);

	.thumb__nail {
		border-radius: var(--size-3);
		overflow: hidden;
	}
	.image {
		margin: var(--size-4) auto;
		width: 100%;
		max-width: 600px;
	}
}

@media (min-width: 768px) {
	.content {
		padding: var(--size-8);
	}
}
