.comment__edit__group {
	display: flex;
	gap: 1rem;

	form {
		width: 100%;
	}

	.header__infos__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		input {
			width: 100%;
			outline: none;
			border: 1px solid var(--border-default-color);
		}
	}

	textarea {
		height: 102px;
		min-height: 102px;
		padding: 8px;
		line-height: 1.5;
		resize: vertical;
		background: none;
		border: 1px solid var(--border-default-color);
	}

	.edit__comment__form {
		width: calc(100% - 50px - 1rem);
	}
	.comment__context {
		display: flex;
		flex-direction: column;
		// width: calc(100% - 50px - 1rem);
		border: 1px solid var(--border-default-color);

		border-radius: 6px;
	}
	.comment__header {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		padding: 0.75rem 1rem;
		background-color: var(--bgColor-muted);
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		position: relative;

		&::before {
			background-color: var(--border-default-color);
		}

		&::after {
			margin-left: 2px;
			background-color: var(--bgColor-default);
			// z-index: 10;
			// background-color: red;
			background-image: linear-gradient(
				var(--bgColor-muted),
				var(--bgColor-muted)
			);
		}

		&::before,
		&::after {
			position: absolute;
			top: 11px;
			right: 100%;
			left: -8px;
			display: block;
			width: 8px;
			height: 16px;
			pointer-events: none;
			content: ' ';
			clip-path: polygon(0 50%, 100% 0, 100% 100%);
		}

		.author__info {
			display: flex;
			gap: 1rem;
			.username {
				font-weight: 600;
			}

			.time {
				color: var(--fontColor-muted);
			}
		}

		.detail__btn {
			cursor: pointer;
		}
	}

	.comment {
		padding: 1.5rem;
	}
}
