.latest {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	/* margin: var(--size-8) auto; */
}

.latest h2 {
	font-size: var(--size-8);
	font-weight: var(--fw-semi-bold);
	color: var(--color-black);
	text-align: center;
	margin: 2rem 0;
}

@media (min-width: 768px) {
	.latest {
		width: 100%;
	}
	.latest h2 {
		font-size: var(--size-16);
	}
}
