$avatar-size: 50px;

.avatar {
	width: $avatar-size;
	height: $avatar-size;
	border: 1px solid var(--border-default-color);
	border-radius: 50%;
	overflow: hidden;

	cursor: pointer;
}

@media (min-width: 768px) {
	.avatar {
		// width: var(--avatar--size);
		// height: var(--avatar--size);

		img {
			// width: var(--avatar--size);
			// height: var(--avatar--size);
		}
	}

	.card__wrapper {
		padding: 2rem;
	}
}
