$button-transition-duration: 0.1s;
$button-transition: color $button-transition-duration ease-in-out,
	background-color $button-transition-duration ease-in-out,
	border-color $button-transition-duration ease-in-out,
	box-shadow $button-transition-duration ease-in-out,
	opacity $button-transition-duration ease-in-out;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;

	font-weight: 600;
	-webkit-font-smoothing: antialiased;

	width: 100%;
	border-radius: var(--size-4);

	font-size: 0.8rem;
	&.primary {
		color: white;
		background-color: #3182f6;
	}
	&.dark {
		color: #4e5968;
		background-color: #e5e8eb;
	}
	&.text {
		color: #4e5968;
		background-color: transparent;
		flex-grow: 0;
	}

	&.outline {
		background-color: white;
		// color: #4e5968;
		color: #3182f6;
		// border: 1px solid rgba(209, 209, 209, 1);
		border: 1px solid #3182f6;
		&:hover {
			// background-color: #e5e8eb;
			background-color: rgba(49, 130, 246, 0.2);
		}
	}

	padding: 10px 14px;

	transition: $button-transition;

	&:disabled {
		cursor: not-allowed;
	}
}

.ripple {
	position: absolute;
	background-color: rgb(255, 255, 255);
	width: 2px;
	height: 2px;
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: materialRipple 0.5s linear;
}

@media (min-width: 768p) {
	.button {
		font-size: 1rem;
		padding: 15px 16px;
	}
}

@keyframes materialRipple {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		transform: scale(300);
		opacity: 0;
	}
}
