.chips {
	display: flex;
	gap: var(--size-2);
	//flex item들이 넓이를 넘어갈 경우, 줄 바꿈
	flex-wrap: wrap;
}

.chip {
	display: flex;
	align-items: center;
	// padding: 0.25rem;
	height: 34px;
	margin-right: 3.5px;
	margin-left: 3.5px;
	padding-right: 12px;
	padding-left: 12px;
	font-size: 14px;
	line-height: 1.5;
	font-family: Apple SD Gothic Neo, Malgun Gothic, \b9d1\c740\ace0\b515,
		sans-serif;
	border: 0 none;
	// border: 1px solid rgba(209, 209, 209, 0.6);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 1.5px 5px 0px;
	border-radius: var(--br-reg);
	color: #333333;

	transition: background 0.35s ease-in-out, color 0.35s ease-in-out;

	&.selected {
		background-color: rgba(15, 15, 15, 0.8);
		color: white;
	}
}
