.detail__btn__wrapper {
	display: flex;
	align-items: center;
	position: relative;
}

.detail {
	position: absolute;
	right: 0px;

	background-clip: padding-box;
	background-color: var(--overlay-bgColor);
	border: 1px solid var(--border-default-color);
	border-radius: var(--borderRadius-medium, 0.375rem);
	box-shadow: var(--shadow-floating);
	list-style: none;
	margin-top: 2px;
	padding: 0.5rem 0.5rem;
	position: absolute;
	top: 100%;
	width: 130px;
	z-index: 100;

	.detail__context__wrapper {
		display: flex;
		flex-direction: column;
		li {
			padding: 0.5rem 1rem;
			cursor: pointer;
			border-radius: 0.375rem;
			&:hover {
				background-color: var(--bgColor-hover);
			}
		}
	}
}
