.modal__backdrop {
	background-color: var(--overlay-backdrop-bgColor);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.modal {
	border-radius: 0.375rem;
	background-color: var(--overlay-bgColor);
	box-shadow: var(--shadow-floating);
	min-width: 192px;
	width: min(var(--overlay-width), 100vw - 2rem);
	max-height: min(100vh - 2rem, var(--overlay-height));
	overflow-y: hidden;
	z-index: 2;

	position: fixed;
	top: 50%;
	left: 50%;

	/* 위아래 너비를 준 상태에서 가로 50%, 세로 50%를 이동시킬 수 있다 (= 한가운데 배치) */
	transform: translate(-50%, -50%);

	.modal__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 1rem;

		font-weight: 600;

		&.hidden {
			display: none;
		}

		.close__icon {
			cursor: pointer;
		}
	}

	.modal__body {
		min-height: 100px;
	}
	.modal__btns {
		display: flex;
		justify-content: space-around;
		padding: 1rem;

		&.hidden {
			display: none;
		}
	}
}

.dialog {
	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(14, 18, 22, 0.35) 0px 10px 38px -10px,
		rgba(14, 18, 22, 0.2) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 450px;
	max-height: 85vh;
	animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running
		k-dUePBQ;
	z-index: 2;
}
