.header__item {
	color: var(--color-black);
	font-size: var(--size-4);
	font-weight: var(--fw-bold);
	&:hover {
		// font-weight: var(--fw-bold);
		text-decoration: underline;
		cursor: pointer;
	}
}
