.regular {
	font-weight: var(--fw-normal);
}
.semibold {
	font-weight: var(--fw-semibold);
}
.bold {
	font-weight: var(--fw-bold);
}
.bolder {
	font-weight: var(--fw-bolder);
}

@media (min-width: 768px) {
	.profile__skill__title {
		width: 80px;
	}
}
