@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	--bg-white: #ffffff;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey-50: hsl(265, 55%, 96%);
	--color-grey-100: hsl(265, 19%, 88%);
	--color-grey-200: hsl(265, 7%, 70%);
	--color-grey-300: hsl(265, 6%, 66%);
	--color-grey-400: hsl(265, 4%, 57%);
	--color-grey-500: hsl(265, 3%, 53%);
	--color-grey-600: hsl(265, 4%, 42%);
	--color-grey-700: hsl(265, 4%, 31%);
	--color-grey-800: hsl(276, 5%, 20%);
	--color-grey-900: hsl(280, 5%, 13%);

	--color-primary-50: #c8b3ce;
	--color-primary-100: #a07aaa;
	--color-primary-200: #884c97;
	--color-primary-300: #843897;
	--color-primary-400: #732392;
	--color-primary-500: #5a097a;
	--color-primary-600: #480264;
	--color-primary-700: #3d0264;

	--color-success-100: #a2f0bc;
	--color-success-500: #12bd4b;

	--color-error-100: #f1acc9;
	--color-error-500: #a10c4a;

	--size-1: calc(0.25rem * 0.8);
	--size-2: calc(0.5rem * 0.8);
	--size-3: calc(0.75rem * 0.8);
	--size-4: calc(1rem * 0.8);
	--size-5: calc(1.25rem * 0.8);
	--size-6: calc(1.5rem * 0.8);
	--size-7: calc(1.75rem * 0.8);
	--size-8: calc(2rem * 0.8);
	--size-9: calc(2.25rem * 0.8);
	--size-10: calc(2.5rem * 0.8);
	--size-11: calc(2.75rem * 0.8);
	--size-12: calc(3rem * 0.8);
	--size-13: calc(3.25rem * 0.8);
	--size-14: calc(3.5rem * 0.8);
	--size-15: calc(3.75rem * 0.8);
	--size-16: calc(4rem * 0.8);
	--size-17: calc(4.25rem * 0.8);
	--size-18: calc(4.5rem * 0.8);
	--size-19: calc(4.75rem * 0.8);
	--size-20: calc(5rem * 0.8);
	--size-40: calc(10rem * 0.8);

	--fw-normal: 400;
	--fw-semibold: 500;
	--fw-bold: 600;
	--fw-bolder: 700;

	--br-sm: 0.5rem;
	--br-reg: 10px;

	background-color: var(--bg-white);
	color: #252525;

	--header-height: 4rem;

	--border-default-color: #d0d7de;
}

h1,
h2,
h3 {
	// font-family: 'Oswald', 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: var(--fw-bold);
}
* {
	margin: 0;
	padding: 0;
	// font: inherit;
	color: inherit;
}
*,
:after,
:before {
	box-sizing: border-box;
	flex-shrink: 0;
}
:root {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	cursor: default;
	line-height: 1.5;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
}
html,
body {
	width: 100%;
	height: 100%;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
button {
	background: none;
	border: 0;
	cursor: pointer;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul,
li {
	list-style: none;
}

button {
	font: inherit;
	cursor: pointer;
}

time {
	color: #9999a1;
}

textarea:focus,
input:focus {
	outline: none;
}

label.required {
	&::after {
		content: ' *';
		color: rgb(249, 77, 77);
		font-size: 1rem;
	}
}

.invalid {
	border: 1px solid red !important;
}
.error__msg {
	color: red;
	font-size: 0.75rem;
}

/* input 자동완성시 배경 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

.small__badge {
	display: block;
}
.big__badge {
	display: none;
}

@media (min-width: 768px) {
	body {
		--size-1: 0.25rem;
		--size-2: 0.5rem;
		--size-3: 0.75rem;
		--size-4: 1rem;
		--size-5: 1.25rem;
		--size-6: 1.5rem;
		--size-7: 1.75rem;
		--size-8: 2rem;
		--size-9: 2.25rem;
		--size-10: 2.5rem;
		--size-11: 2.75rem;
		--size-12: 3rem;
		--size-13: 3.25rem;
		--size-14: 3.5rem;
		--size-15: 3.75rem;
		--size-16: 4rem;
		--size-17: 4.25rem;
		--size-18: 4.5rem;
		--size-19: 4.75rem;
		--size-20: 5rem;
		--size-40: 10rem;
	}

	.small__badge {
		display: none;
	}
	.big__badge {
		display: block;
	}
}
